[submodule "xml"]
	path = xml
	url = https://github.com/snoyberg/xml.git
[submodule "xml-types-pickle"]
	path = xml-types-pickle
	url = git@github.com:Philonous/xml-types-pickle.git
[submodule "hexpat-internals"]
	path = hexpat-internals
	url = git@github.com:Philonous/hexpat-internals.git
